* {
    box-sizing: border-box;
}

body {
    background-color: #32adad;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    justify-content: center;
    background-color: #ffc125;
    border-style: dotted;
    border-color: #32adad;
}

h1 {
    padding-top: 1em;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 8px;
    color: #eeb4b4;
    font-size: 5em;
}


/*#overlay p{
  position: absolute;
  color:#005555;
}*/

@media only screen and (min-width:769px) {
    img {
        display: inline;
    }
    #overlay {
        border-radius: 1em;
        background-color: #fffff5;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 95%;
        justify-content: center;
        position: absolute;
        width: 50%;
        height: 20%;
        /*display: none;*/
    }
}

img {
    display: block;
    width: auto;
}

footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #005555;
    bottom: 0;
    padding: 1em;
}

footer>a {
    color: #fffff5;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    margin: 2em;
    text-decoration: none;
}

#overlay {
    border-radius: 1em;
    background-color: #fffff5;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
    justify-content: center;
    position: absolute;
    width: 40%;
    height: 20%;
    display: none;
}

p {
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    margin-top: 10%;
    color: #005555;
    list-style-position: 1.6;
}

#overlay button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#close {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #005555;
}

#close {
    cursor: pointer;
}
