* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica;
    font-size: 100%;
    overflow: hidden;
}


/* new css */


/* Display the page when targeted */

.page:target {
    display: block;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 1.5em;
}

li {
    list-style-type: none;
}

a {
    padding: 13px;
    margin-bottom: 4px;
    color: #333;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: white;
}

.page {
    /* setting height 100% for html, body, and for all pages makes each page full viewport */
    height: 100%;
    /* dirty hack to make text big and centered */
    text-align: center;
    font-size: 100vmin;
    color: #333;
    display: none;
}

#page1 {
    display: block;
    /* first page shows */
}
footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
}

footer>a {
    padding: 10px;
    width: 100px;
    color: #515041;
}

footer>a:link {
    text-decoration: none;
}

footer>a:visited {
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
    color: #00bbd6;
}

footer>a:active {
    text-decoration: underline;
}
