html {
    text-align: justify;
    background-color: #cfe6de;
}

h2 {
    font-size: 1em;
    margin: 2em;
}

h2 a {
    text-decoration: none;
    color: inherit;
    font: georgia, sans-serif;
    outline-style: solid;
    outline-width: thin;
    padding: .5em;
}

h1 {
    text-align: center;
    font: Helvetica, sans-serif;
    margin-bottom: 20px;
}

#story {
    position: relative;
    left: 10%;
    right: 10%;
    width: 700;
    height: 600;
}

img {
    margin-top: 5%;
    left: 30%;
    margin-left: 13%;
}

p {
    position: relative;
    margin-top: 2em;
    left: 4%;
    right: 50%;
    margin-right: 35%;
    margin-left: 9%;
    line-height: 1.6;
    margin-bottom: 10%;
}
