#mySketch {
    background-color: #00bbd6;
    height: 250px;
    width: 800px;
    margin: auto;
    text-align: center;
}

header {
    margin: 30px;
    padding-bottom: 30px;
}

h5 {
    text-align: center;
    margin-left: -52%;
    margin-bottom: auto;
    font-weight: lighter;
    padding: 2px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    /*font-family: sans-serif;*/
    letter-spacing: 3px;
    font-family: itc-flora, sans-serif;
    font-weight: 700;
    font-style: normal;
}

main {
    display: block;
    width: 800px;
    margin: auto;
    justify-content: center;
}

main>section {
    display: inline-table;
    margin: auto;
    margin-left: 60px;
    width: 200px;
    padding-left 0;
}

ol {
    padding-left: 0;
    list-style-position: inside;
}

li>a {
    color: #515041;
}

li>a:visited {
    text-decoration: none;
}

li>a:hover {
    text-decoration: underline;
    color: #00bbd6;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
}

footer>a {
    padding: 10px;
    width: 100px;
    color: #515041;
}

footer>a:link {
    text-decoration: none;
}

footer>a:visited {
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
    color: #00bbd6;
}

footer>a:active {
    text-decoration: underline;
}
