html {
    text-align: justify;
    background-color: #cfe6de;
}
h2 {
    font-size: 1em;
    margin: 2em;
}

h2 a {
    text-decoration: none;
    color: inherit;
    font: georgia, sans-serif;
    outline-style: solid;
    outline-width: thin;
    padding: .5em;
}

h1 {
    text-align: center;
    font: Helvetica, sans-serif;
    margin-bottom: 20px;
}

h3 {
    font: georgia, sans-serif;
    padding-top: 20px;
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 10px;
}

article {

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
p a {
    text-decoration: none;
    color: inherit;
    padding-bottom: -20px;
}
p {
    font: georgia, sans-serif;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    line-height: 1.6;
    padding-left: 20%;
    padding-right: 20%;
}

img {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
