html {
    text-align: justify;
    background-color: #cfe6de;
}
h2{
  font-size: 1em;
  margin: 2em;
}
h2 a{
    text-decoration: none;
    color: inherit;
    font: georgia, sans-serif;
    outline-style: solid;
    outline-width: thin;
    padding: .5em;
  }

h1 {
    text-align: center;
    font: Helvetica, sans-serif;
    margin-bottom:20px;
}
section{
  margin-left:5%;
  margin-right: 5%;
  margin-top: 5%;
}

p {
    font: georgia, sans-serif;
    margin: 20px;
        line-height: 1.6;
        padding-left: 10px;
        padding-right: 10px;
}

.bib {
  text-align: center;
    font-size: 1em;
}
.bib>ol{
  text-align: left;
  margin: 5px;
  font-size: .8em;
      line-height: 1.6;
}
