html {
    font-family: Verdana, sans-serif;
    background-color: #dab4b4;
}

header {
    color: #71685e;
    font-family: eds-market-bold, sans-serif;
    font-weight: 400;
    font-size: 2em;
    font-style: normal;
    margin: 20px;
    letter-spacing: 5px;
    text-align: center;
}

form {}

img {
    float: right;
    margin-top: -60px;
}

section {
    margin-left: 10%;
    padding: 1em;
    color: #71685e;
}

input[type="reset"], input[type="submit"] {
    margin: 1em;
    padding: .5em;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}

input[type="reset"], input[type="submit"]:visited {
    text-decoration: none;
}

fieldset {
    background-color: #4e4a4a;
    /*brown*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    grid-gap: 1%;
    width: 30%;
    padding: 1em;
    border: 0;
    /* remove default */
    margin-left: 10%;
}

label {
    color: #dab4b4;
    /*pink*/
    padding: 1%;
}

input[type="text"] {
    border-radius: 5px;
}

#msgSection {
    color: white;
    width: 50%;
    padding: 10em;
    margin: 2% 12%;
    border-radius: 30px;
    background-color: lightblue;
}

footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
}

footer>a {
    padding: 5px;
    width: 200px;
    color: #515041;
}

footer>a:link {
    text-decoration: none;
}

footer>a:visited {
    text-decoration: none;
}

footer>a:hover {
    text-decoration: underline;
    color: #c5e0e0;
}

footer>a:active {
    text-decoration: underline;
}
